---
username: aciuser
password: acipassword
clusters:
  - name: ACICluster01
    apics:
      - https://aci-cl01-apic01
      - https://aci-cl01-apic02
      - https://aci-cl01-apic03
  - name: ACICluster02
    username: cluster2user
    password: cluster2password
    apics:
      - http://aci-cl02-apic01
      - http://aci-cl02-apic02
      - http://aci-cl02-apic03